<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-b9a07a32-c66f-47c8-8348-ffff454a29d9;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-b9a07a32-c66f-47c8-8348-ffff454a29d9.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>